<nav>
  <div class="site-title">
    <a href="/"><h1>BLOG NC</h1></a>
    <p>A NCOLLIG BLOG</p>
  </div>
  <ul>
    <li><a href="/">Blog</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog post</a></li>
  </ul>
</nav>