<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog NC</title>
</head>
<body>
  <nav>
    <div class="site-title">
      <a href="/"><h1>Blog NC</h1></a>
      <p>A ncollig website</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New blog post</a></li>
    </ul>
  </nav>

  <div class="blog content">
    <h2>All blog entries</h2>
  </div>
  
</body>
</html>