<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog NC | <%= title %>
    </title> <!-- Here we insert the 'title' value defined in res.render from app.js -->
    <link rel="stylesheet" href="/styles.css"> <!-- load stylesheet from the 'public' folder -->
</head>