<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blog NC</h1>
        </a>
        <p>A ncollig website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog post</a></li>
    </ul>
</nav>