<html lang="en">
  <%- include('./partials/head.ejs')  %>
<body>
    
  <%- include('./partials/nav.ejs')  %>

  <div class="about content">
    <h2>About us</h2>
    <p>We are great.</p>
    <p>We are many.</p>
    <p>We are.</p>
  </div>

  <%- include('./partials/footer.ejs')  %>
  
</body>
</html>